/* 基本CSS样式*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -ms-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s;
    outline: 0;
}

@font-face {
    font-family: Rage Italic;
    src: url('RageItalic.ttf');
}


.fr{
    float: right;
}


body{
    background: #399d8f url(http://7te9fe.com1.z0.glb.clouddn.com/bgimg_3.jpg) no-repeat;
    color: #fff;
}

h1{
    text-align: center;
    font-family: "Rage Italic";

}

/*CSS3 animate*/

@keyframes myfirst
{
    from {background: red;}
    to {background: yellow;}
}

@-moz-keyframes myfirst /* Firefox */
{
    from {background: red;}
    to {background: yellow;}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    from {background: red;}
    to {background: yellow;}
}

@-o-keyframes myfirst /* Opera */
{
    from {background: red;}
    to {background: yellow;}
}
/*

h1{
    animation: myfirst 5s;
    -moz-animation: myfirst 5s;	!* Firefox *!
    -webkit-animation: myfirst 5s;	!* Safari 和 Chrome *!
    -o-animation: myfirst 5s;
}
*/



/*主要样式*/




/*media





*/

@media only screen and (max-width: 800px) {

}


@media only screen and (max-width: 481px) and (max-width: 800px) {
.container{
    font-size: .95rem;
}
}


@media only screen and (max-width: 480px){

    .container{
        font-size: .9rem;
    }

}









input,
.task-item,
.task-detail-mask,
textarea,
button{
    padding:10px;
    border-radius: 3px;

}



textarea,input[type=text],input[type=date]{
    display: block;
    width: 100%;
    border:0;
    background: #ddd;
}

input[type=text]:hover,
input[type=text]:focus,
input[type=date]:hover,
input[type=date]:focus {
    background: #eee;
}

.task-item.completed{
    color: #aaa;
    opacity: .6;
}

.task-item.completed:after{
    content: '';
    display: block;
    height: 1px;
    width: 96%;
    border-bottom: solid 1px #ccc;
    position: relative;
    top: -9px;
    float: right;
}


button{
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #333;
}

.add-task input[type=text]{
    float: left;
    width: 84%;
    margin-right:1%;

}

.add-task button[type=submit]{
    width: 15%;
    background: #aed6f3;
}


.add-task button[type=submit]:hover{

    background: #209df7;
}


.add-task button[type=submit],
.task-item{
    -webkit-box-shadow:  0  2px 3px  rgba(0,0,0,.4);
    -moz-box-shadow:  0  2px 3px  rgba(0,0,0,.4);
    box-shadow: 0  2px  3px  rgba(0,0,0,.4);
}

.container{
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;

}

.task{
    position: relative;
    overflow: hidden;
    opacity: .9;
    margin: 10px 0;

}



.task-item{

    background: #fff;
    color: #333;
    margin-bottom: 2px;


    cursor: pointer;


}

.task-item:hover{
    background: #ddd;
}






.task-detail-mask {
    position: absolute;
    display: none;

}

.task-detail{
    background: #fff;
    color: #333;
    padding: 10px;
    width: 50%;
    height: 100%;
    bottom: 0;
    right: 0;
    border-radius: 8px 0 0 8px;
    position: absolute;
    display: none;
    overflow: auto;
}

.task-detail .content{
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
}


textarea{
    min-height: 100px;
}

.task-detail .input-item,
.task-detail .desc,
.task-detail .remind
{
    margin-bottom: 10px;

}



.task-detail-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    background: rgba(0,0,0,0.3);

}

.action{
    font-size: .8rem;
    color: #888;
    margin-right: 3px;
}


.action:hover{
    color: #333;
}
.task-content{
    margin-left: 10px;
}


.msg{
    font-family: "SimSun";
    text-align: center;
    background: rgba(0,0,0,0.3);
    display: none;
    padding: 10px;
    color: #fff;
}

.box-title{
    margin-bottom: 10px;
}

.confirm{
    cursor: pointer;
    margin-right: 10px;
    background: #aed6f3;
}

.alert{
    height:0;
    width:0;
}